<template>
    <form @submit.prevent="">
        <input type="text">
        <input type="text">
        <button type="submit">Add</button>
    </form>
</template>

<script setup lang="ts">

</script>

<style scoped>

</style>